{% extends 'base.html' %}
{% block content %}
<h1>ALL FOOTBALL STOP</h1>

<p>{{nama}}</p>
<p>{{npm}}</p>

<hr>

<h4>Logged in as:</h4>
<p>{{user.username}}</p>

<a href="{% url 'main:add_product' %}">
    <button>+ Add Product</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=my">
    <button type="button">My Products</button>
</a> 

{% if not product_list %}
<p>Tidak ada produk yang terdaftar!</p>
{% else %}
<hr>

<h2>Products Available:</h2>
{% for product in product_list %}
<div>
    {% if product.is_featured %}
    <h3><b>Featured</b></h3>
    {% endif %}

    <h2>{{ product.name }}</h2>

    <a href="{% url 'main:show_product' product.pk %}"><img src="{{ product.thumbnail }}" alt="product picture" width="200" height="200"></a>

    <h3>Rp {{product.price}}</h3>
    <p>Stock: {{product.stock}}</p>

    <p>Category: {{product.category}}</p>

    <p><a href="{% url 'main:show_product' product.pk %}"><button>Product Details</button></a></p>
</div>

{% endfor %}

{% endif %}

{% endblock content %}